@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.hero {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 40px 0;
    color: white;
}

.logo {
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-left: 160px;
}

.header ul {
    list-style: none;
    margin-right: 160px;
    padding: 0;
    display: flex;
}

.header ul a {
    text-decoration: none;
    color: #E5E7EB;
    padding: 0.7rem;
    font-size: 17px;
}

.header ul a:hover {
    color: #3882F6;
}

.first-section {
    
    display: flex;
    flex-wrap: wrap;
    color: white;
    align-items: center;
}

.flex-1 {
    margin: 0 20px 0 160px;
    padding: 60px 0 60px 0;
    flex-wrap: wrap;
    width: 34%;
}

.cta-1 {
    background: #3992F6;
    color: white;
    width: 110px;
    height: 35px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    padding: 2px 0 0 0;
}

#hero-title {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}

#hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 200;
    margin: 0 0 10px 0;
}

.img-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 230px;
    background: #6c757d;
    margin-right: 160px;
    color: #E5E7EB;
}

.squares {
    display: flex;
    margin: 0 190px 0 190px;
    justify-content: center;
    align-items: center;
    padding: 10px 0 50px 0;
}

h2 {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 30px;
    color: #1F2937;
}

.blue-square {
    border: 3px solid #3882F6;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    
}

.flex-comb {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: min-content;
    margin: 15px;
    color: #6c757d;
    font-weight: 500;
}


.quote {
    background-color: #E5E7EB;
    font-size: 32px;
    font-style: italic;
    padding: 40px 100px 40px 100px;
    font-weight: lighter;
}

.ac {
    font-size: 24px;
    font-weight: bolder;
    padding: 0 0 500px 800px;
}




